.title {
    background-color: lightsalmon;
    height: 50px;
    display: flex;
    width: auto;
    margin: 0;
    padding: 0;
    align-items: center;
    text-align: center;
    justify-content: center;
}

h1 {
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.lists {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: lightsalmon;
    list-style-type: square; 
    list-style-position: inside;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
}


